<!-- views/offices/_office.html.erb -->
<div class="col-xs-12
  <% if current_page?(offices_path) %>
    col-sm-6
  <% else %>
    col-sm-4
  <% end %>
  ">
  <%= render 'offices/map_window', office: office %>
</div>
