<!-- app/views/offices/new.html.erb -->
<div class="container padding-top-30">
  <div class="new">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="office-show-card">
          <h1>New Office</h1>
          <%= render 'form_office', office: @office %>
        </div>
      </div>
    </div>
  </div>
</div>
