// Define variables for your color scheme

// For example:
$red: #FF4D40;
$blue: #00ACC1;
$yellow: #FFDE33;
$orange: #E67E22;
$green: #1BE2B0;
$gray: #555555;
$light-gray: #DCDEE0;
$athens-gray: #F7F9FB;
