<!-- _office.attachment.html.erb -->
<div class="col-xs-6 col-sm-4">
  <%= cl_image_tag office_attachment.attachment %>

  <% if current_user == office_attachment.office.user %>
    <ul class="list-inline">
      <li><%= render 'office_attachments/links', office_attachment: office_attachment, type: 'edit' %></li>
      <li><%= render 'office_attachments/links', office_attachment: office_attachment, type: 'destroy' %></li>
      <li><%= render 'office_attachments/links', office_attachment: office_attachment, type: 'background' %></li>
    </ul>
  <% end %>

</div>
