<!-- _office.attachment.html.erb -->
  <div class="offices-pictures" style="background-image: url(<%= cl_image_path office_attachment.attachment.url %>);" ba>
    <%= cl_image_tag office_attachment.attachment.url %>
    <% if policy(office_attachment.office).edit? %>
      <%= link_to edit_office_office_attachment_path(office_attachment.office, office_attachment) do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    <% end %>

    <% if policy(office_attachment.office).destroy? %>
      <%= link_to office_office_attachment_path(office_attachment.office, office_attachment),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    <% end %>

  </div>


