<!-- app/views/office_attachments/new.html.erb -->
<div class="container padding-top-30">
  <div class="new">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="office-show-card">
          <h1>Add a Photo
            <%= render 'shared/links', type: 'back' %>
          </h1>
          <%= render 'form_office_attachment', office: @office, office_attachment: @office_attachment %>
        </div>
      </div>
    </div>
  </div>
</div>
