<!-- views/components/_form_booking.html.erb -->
<%= simple_form_for [office, booking] do |f| %>
  <%= f.input :start_date, as: :string %>
  <%= f.input :end_date, as: :string %>
  <p>
    <strong>Price:</strong>
    <span id="total-price"></span>
  </p>
  <%= f.submit 'Book Now', class: 'btn btn-default' %>
<% end %>