.office {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1px;
}
.margin-top-negative {
  margin-top: -75px;
}
.office-show-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
  h1, h2, h3 {
    margin-top: 5px;
    color: $gray;
  }
  p {
    margin-top: 0;
    font-size: 16px;
  }
}
.flex-align-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offices-pictures {
  img {
  }
  p {
    font-size: 10px;
  }
}

.office-show-name {
  text-align: center;
  .icon {
    font-size: 18px;
  }
}

.office-details {
  position: relative;
  .user-avatar {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 20px;
  }
  #dayrate {
    display: none;
  }
  .dayrate {
    color: $blue;
    font-weight: bold;
    font-size: 24px;
  }
}
