<!-- dashboard.html.erb -->

<!-- TODO edit_booking if start-date allows -->
<div class="dashboard-container">
  <div class="my-dashboard text-center">
    <h1>My Dashboard</h1>
  </div>

  <div class="my-bookings">
    <h3 class='sub-title'>My bookings</h3>
    <div class="row">
      <%= render @bookings %>
    </div>
  </div>

  <div class="my-offices">
    <h3 class='sub-title'>My offices</h3>
    <div class="row">
        <%= render @offices %>
    </div>
  </div>
</div>
