<div class="container">
  <div class="row">
    <h3>My bookings</h3>
    <%= render @bookings %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Offices I am hosting</h3>
    <%= render @offices %>
  </div>
</div>

user.offices
        <% if policy(office).edit? %>
          <%= link_to edit_office_path(office) do %>
            <i class="fas fa-marker"></i>
          <% end %>
        <% end %>

        <% if policy(office).destroy? %>
          <%= link_to office_path(office),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
        <% end %>

display the information inside the current_user

including list of bookings and possible offices that he is hosting

so user.offices will be the offices he is hosting

user.bookings will be his bookings, each booking will have a booking.office, which are the offices he is renting
not hosting

each of the bookings has an option for a new review form, maybe inside a modal
