<!-- dashboard.html.erb -->

<!-- TODO edit_booking if start-date allows -->

<div class="container padding-top-50">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="office-show-card">
        <%= image_tag @user.avatar.url, width: 150, class: "img-circle" %>
        <h3><%= @user.email %></h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="office-show-card">
        <h1>My Dashboard:</h1>
      </div>
      <div class="office-show-card">
        <h3>My bookings</h3>
        <ul class="list-unstyled">
          <%= render @bookings %>
        </ul>
      </div>
      <div class="office-show-card">
        <h3>Offices I am hosting</h3>
        <%= render @offices %>
      </div>
    </div>
  </div>
</div>
