<!-- dashboard.html.erb -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- TODO edit_booking if start-date allows -->
<div class="dashboard-container">
  <div class="my-dashboard text-center">
    <h1>My Dashboard</h1>
  </div>
  <div class="my-bookings">
    <h3 class='sub-title'>My bookings</h3>
    <div class="row">
      <%= render @bookings %>
    </div>
  </div>
  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>
  <div class="my-offices">
    <h3 class='sub-title'>My offices</h3>
    <div class="row">
      <%= render @offices %>
    </div>
  </div>
</div>