<div class="footer">
  <div class="footer-links">
    <%= link_to contact_path do %>
      <i class="fas fa-phone"></i>
    <% end %>
    <%= link_to about_path do %>
      <i class="fas fa-question"></i>
    <% end %>
    <%= link_to 'https://github.com/mlrcbsousa/air_desk' do %>
      <i class="fab fa-github"></i>
    <% end %>

  </div>
  <div class="footer-copyright">
    Made without <i class="fas fa-heart"></i> by the Air DnC Wagon team
  </div>
</div>
