<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<div class="footer">
  <div class="footer-links">
    <%= link_to contact_path do %>
      <i class="fas fa-phone"></i>
    <% end %>
    <%= link_to about_path do %>
      <i class="fas fa-question"></i>
    <% end %>
    <%= link_to 'https://github.com/mlrcbsousa/air_desk' do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div id="footer-copyright">
    <p>Made with <i class="fas fa-coffee"></i> by the Air DnC Wagon team</p>
  </div>
  <span id="typed"></span>
</div>