<div class="navbar-wagon-item">
  <%= form_tag offices_path, html: { class: "form-inline" }, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :query,
        @query,
        class: "form-control",
        placeholder: "#{@query ? @query : "Search"}"
      %>
      <span class="input-group-btn">
        <%= button_tag class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
