<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @offices.each do |office| %>
  <p><%= office.name %></p>
  <p><%= office.location %></p>
  <p><%= office.avg_rating %></p>
<% end %>
