.cardbooking {
  width: 100%;
  height: 400px;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-size: cover !important;
  background-position: center;
  color: white;
  // position: relative;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.02), 0 1px 1px -2px rgba(0,0,0,0.2);
  .cardbooking-pictures{
    position: relative;
    height: 30%;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
  }
  .cardbooking-description {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70%;
    padding-left : 10px;
    h3 {
     font-size: 22px;
     color: $gray;
    }
    p {
      font-size: 14px;
      color: $gray;
      font-weight: lighter;
    }
    .dates-info {
      p {
      font-size: 10px;
      }
    }
    .card-user {
      position: absolute;
      right: 15px;
      top: 5px;
      width: 40px;
      border-radius: 50%;
    }
    .booking-review {
      color: $gray;
      p,
      .review-rating,
      .review-date {
      font-size: 12px;
      }
      .review-date {
        color: gray;
      }
    }
  }
}
// .cardbooking-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: $gray;
//   opacity: 0;
//   &:hover {
//     opacity: 0.1;
//   }
// }
