.review {
  padding: 0px;
  display: flex;
  padding-top: 10px;
  font-size: 14px;
  border-top: 1px solid $light-gray;
  img {
    margin: 5px 10px;
  }
  .review-date {
    margin-left: 5px;
    color: $gray;
  }
  .review-rating {
  }
}


